
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quên mật khẩu</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div>
        <label>Nhập gmail</label>
        <input type="email" id="gmail" />
        <button class="btn btn-success" id="sendCode">Gửi mã xác minh</button>
    </div>

    <div id="verificationSection" style="display:none;">
        <label>Nhập mã xác minh</label>
        <input type="number" id="verificationCode" />
        <button class="btn btn-success" id="verifyCode">Xác nhận</button>
    </div>

    <div id="resetPasswordSection" style="display:none;">
        <label>Mật khẩu mới</label>
        <input type="password" id="newPassword" />
        <label>Nhập lại mật khẩu mới</label>
        <input type="password" id="confirmPassword" />
        <button class="btn btn-success" id="resetPassword">Đặt lại mật khẩu</button>
    </div>

    <script>
        $(document).ready(function () {
            $('#sendCode').click(function () {
                const gmail = $('#gmail').val();
                $.post('/Account/SendVerificationCode', { gmail: gmail }, function (response) {
                    alert(response.message);
                    if (response.success) {
                        $('#verificationSection').show();
                    }
                });
            });

            $('#verifyCode').click(function () {
                const code = $('#verificationCode').val();
                $.post('/Account/VerifyCode', { code: parseInt(code) }, function (response) {
                    alert(response.message);
                    if (response.success) {
                        $('#resetPasswordSection').show();
                    }
                });
            });

            $('#resetPassword').click(function () {
                const newPassword = $('#newPassword').val();
                const confirmPassword = $('#confirmPassword').val();

                if (newPassword !== confirmPassword) {
                    alert("Mật khẩu không khớp!");
                    return;
                }

                $.post('/Account/ResetPassword', { newPassword: newPassword }, function (response) {
                    alert(response.message);
                    if (response.success) {
                        window.location.href = '/Home/Index';
                    }
                });
            });
        });
    </script>
</body>
</html>

